[General Configurations]

fuzzing_prog === """client/fuzzing_applications/filep/file.py"""
fuzzing_prog_folder === """client/fuzzing_applications/filep/"""
fuzzing_prog_args === """-m 100000 -o output_dir -i input_dir -l -b 100 -c 'pdftotext %targ'"""
users === """["user1","user2","user3","user4"]"""
