[General Configurations]

fuzzing_prog === """fuzzing_applications/filep/file.py"""
fuzzing_prog_folder === """fuzzing_applications/filep/"""
fuzzing_prog_args === """-m 10000 -o output_dir -i input_dir -l -b 2 -c 'pdftotext %targ'""" 
users === """["user1","user2","user3","user4"]"""
mutation_folder === """fuzzing_applications/filep/output_dir"""
fuzzed_program === """/usr/bin/pdftotext"""
fuzzed_program_name === """pdftotext"""